#title
{
	text-align: center;
}

#controls
{
	background-color: red;
	height: 50px;
	width: 500px;
	margin: auto;
}

#clearButton
{
	height: 20px;
	width: 35px;
	background-color: gray;
	float: left;	
	border: 1px black solid;
	border-radius: 5px;
	font-size: 15px;
	color: white;
	text-align: center;
}

#clearButton:hover
{
	background-color: #2F4F4F;
}

#canvas
{

	margin: auto;
	height: 500px;
	width: 500px;

}

#grid
{
	border-collapse: collapse;
}


.gridPixel
{
	height: 125px;
	width: 125px;
	margin: 0;
	padding: 0;
	border: .5px solid black;
}

td:hover
{
	background-color: black;
}

.visited
{
	background-color: black;
}





