#title
{
	text-align: center;
}

#controls
{
	background-color: #CC0000;
	height: 50px;
	width: 500px;
	margin: auto;
}

#clearButton
{
	height: 20px;
	width: 35px;
	border-radius: 12px;
	display: inline-block;
	background-color: #FFFE02;
	float: left;	
	border: none
	font-size: 15px;
	color: black;
	text-align: center;
	padding: 5px 5px;
	margin: 10px 10px;
	cursor: pointer;
	transition-duration: .5s;

}

#changePixelButton
{
	height: 20px;
	width: 120px;
	border-radius: 12px;
	display: inline-block;
	background-color: #1480CC;
	float: right;
	border: none
	font-size: 15px;
	color: white;
	text-align: center;
	padding: 5px 5px;
	margin: 10px 10px;
	cursor: pointer;
	transition-duration: .5s;

}

#clearButton:hover
{
	background-color: #FFBD25;
}

#changePixelButton:hover
{
	background-color: #004DB2;
}

#canvas
{

	margin: auto;
	height: 500px;
	width: 500px
}
#grid

{
	border-collapse: collapse;
	border: 10px solid #CC0000;
}


.gridPixel
{
	height: 125px;
	width: 125px;
	margin: 0;
	padding: 0;
	border: .5px solid black;
}

td:hover
{
	background-color: black;
}

.visited
{
	background-color: black;
}





