#title
{
	text-align: center;
}

#controls
{
	background-color: red;
	height: 50px;
	width: 500px;
	margin: auto;
}

#canvas
{

	border: 1px solid black;
	margin: auto;
	height: 500px;
	width: 500px;

}

#grid
{
	border-collapse: collapse;
}


.gridPixel
{
	height: 125px;
	width: 125px;
	margin: 0;
	padding: 0;
	border: .5px solid black;
}